<h1> CITIES </h1>
<div class="citiesContainer">

	{{#each destinations}}
	  <a href="/destinations/{{id}}/posts">
	  	<div class="city">
	  		<div class="panel panel-default">
	  			<div class="panel-body">{{this.name}}</div>
	  			<img class="cityImg" src="{{this.photoUrl}}"</div>
				</div>
	  	</div>
	  </a>
	{{/each}}
	
</div>
