<div class="destination_show_div">
    <div class="destination_posts_div">
        <h1 id="destinationName">{{destination.name}}</h1>
        <a id="addAPost" href="/api/destinations/{{destination._id}}/posts/new" class= "btn btn-primary">Add a Post</a>
    </div>
    <div>

    {{{destination.posts}}}
    </div>
</div>