<form class="margin-top" id="savedPost">

	<input type="text" hidden=true value={{post.id}} id="postID">

	<div class="row">
		<label for="interests">Interests:</label><br />
		<input id="interests" class="input" name="interests" type="text" value="{{post.interests}}" size="40" /><br />
	</div>

	<div class="row">
		<label for="email">Email:</label><br />
		<input id="email" class="input" name="email" type="text" value="\{{post.email}}" size="30" /><br />
	</div>

	<div class="row">
		<label for="description">Description:</label><br />
		<textarea id="description" class="input" value="\{{post.description}}" name="description" rows="7" cols="30"></textarea><br />
	</div>

	<button class="btn btn-primary" onclick="post.editPost(event)" type="submit">Update User</button>

</form>	