
<div class="citiesContainer">
  <div class="city" id="london">
  	<div class="panel panel-default">
  		<div class="panel-body">London</div>
	</div>
  </div>
  <div class="city" id="paris">
  	<div class="panel panel-default">
  		<div class="panel-body">Paris</div>
	</div>
  </div>
  <div class="city" id="rome">
  	<div class="panel panel-default">
  		<div class="panel-body">Rome</div>
	</div>
  </div>


  <div class="city" id="london">
  	<div class="panel panel-default">
  		<div class="panel-body">London</div>
	</div>
  </div>
  <div class="city" id="paris">
  	<div class="panel panel-default">
  		<div class="panel-body">Paris</div>
	</div>
  </div>
  <div class="city" id="rome">
  	<div class="panel panel-default">
  		<div class="panel-body">Rome</div>
	</div>
  </div>


</div>