
<div class="citiesContainer">
  <a href="">
  	<div class="city" id="london">
  		<div class="panel panel-default">
  			<div class="panel-body">London</div>
		</div>
  	</div>
  </a>
  <a>
 	 <div class="city" id="paris">
  		<div class="panel panel-default">
  			<div class="panel-body">Paris</div>
		</div>
  	 </div>
  </a>
  <a>
  	<div class="city" id="rome">
  		<div class="panel panel-default">
  			<div class="panel-body">Rome</div>
		</div>
  	</div>
  </a>


  <a href="">
  	<div class="city" id="sanfrancisco">
  		<div class="panel panel-default">
  			<div class="panel-body">San Francisco</div>
		</div>
  	</div>
  </a>
  <a>
 	 <div class="city" id="berlin">
  		<div class="panel panel-default">
  			<div class="panel-body">Budapest</div>
		</div>
  	 </div>
  </a>
  <a>
  	<div class="city" id="budapest">
  		<div class="panel panel-default">
  			<div class="panel-body">Berlin</div>
		</div>
  	</div>
  </a>

  <a href="">
  	<div class="city" id="barcellona">
  		<div class="panel panel-default">
  			<div class="panel-body">Barcellona</div>
		</div>
  	</div>
  </a>
  <a>
 	 <div class="city" id="bruxelles">
  		<div class="panel panel-default">
  			<div class="panel-body">Bruxelles</div>
		</div>
  	 </div>
  </a>
  <a>
  	<div class="city" id="dublin">
  		<div class="panel panel-default">
  			<div class="panel-body">Dublin</div>
		</div>
  	</div>
  </a>

  <a href="">
  	<div class="city" id="london">
  		<div class="panel panel-default">
  			<div class="panel-body">London</div>
		</div>
  	</div>
  </a>
  <a>
 	 <div class="city" id="paris">
  		<div class="panel panel-default">
  			<div class="panel-body">Paris</div>
		</div>
  	 </div>
  </a>
  <a>
  	<div class="city" id="rome">
  		<div class="panel panel-default">
  			<div class="panel-body">Rome</div>
		</div>
  	</div>
  </a>

  <a href="">
  	<div class="city" id="london">
  		<div class="panel panel-default">
  			<div class="panel-body">London</div>
		</div>
  	</div>
  </a>
  <a>
 	 <div class="city" id="paris">
  		<div class="panel panel-default">
  			<div class="panel-body">Paris</div>
		</div>
  	 </div>
  </a>
  <a>
  	<div class="city" id="rome">
  		<div class="panel panel-default">
  			<div class="panel-body">Rome</div>
		</div>
  	</div>
  </a>


</div>