
<h2 class="addNewPost"class="margin-top"> Add New Post </h2>
<div id="new_post_form_div">
    <form class="" id="new_post_form" onsubmit="post.createPost(event)">
        <input type="text" name="destinationID" hidden=true value={{destination._id}} id="destinationID">


        <div class="row">
            <label for="name">Name:</label><br />
            <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
        </div>

        <div class="row">
            <label for="interests">Email:</label><br />
            <input id="interests" class="input" name="interests" type="text" value="" size="30" /><br />
        </div>

        <div class="row">
            <label for="description">Description</label><br />
            <textarea id="description" class="input" name="description" rows="7" cols="30"></textarea><br />
        </div>

        <div class="row">
            <label for="photoUrl" >Profile Picture:</label><br />
            <input id="photoUrl" class="input" name="photoUrl" type="text" value="" size="30" /><br />
        </div>

        <input class="btn btn-primary" id="create_post" type="submit" value="Create Post" />

		<div class = "row">
			<label for="startDate">Start Date:</label><br />
			<input type="date" name="startDate">
		</div>

		<div class = "row">
			<label for="endDate">End Date:</label><br />
			<input type="date" name="endDate">
		</div>
    </form>    
</div>