<h1> POSTS PAGE </h1>

<div class="post_container">
<!-- interests -->
		<h2>All Posts</h2>
	<div class="multiple_posts">
	  {{#each posts}}
			<!-- Destination name & user name -->
	      <div class="single_post">
	          <!-- <img src="{{this.photoUrl}}" alt="profile photo" class="profile_photo">
	    -->
	          <div>
	            <p class="post_description">Name: {{this.description}}</p>
	            <p class="post_interests">Interests: {{this.interests}}</p>
	          </div>
	      </div>
	  {{/each}}
	</div>      

	<a href="/posts/new" class= "btn btn-primary" >Add a Post</a>

</div>
