<div id="fullpage">
  <div class="section">
    <div class="jumbotron jumbotron1 text-center">
      <h1>Meet new people!</h1>
      <p>Travel with locals</p>
        <button id="modalButton" type="button" class="btn btn-lg sign_up_button" data-toggle="modal" data-target="#triggerModal"> Sign up </button>
    </div>
  </div>

  <div class="section">
    <div class="text-center" id = "howitworks">
      <h1>How It Works</h1>
        <p>
          FriendMe is the new Airbnb, but instead of looking for housing you're looking for people.
          Your desire to see the coolest locations in the world is only hindered by the fact that you actually 
          don't know where to go or what to do. When it comes to travelling, what better source of knowledge is there to have than the locals themsleves?
          <hr>
        </p>
        <p>
          FriendMe connects you with personable hosts and gives you the chance to meet and make new friends.
          If you had a great experience with being shown around by locals, why not do the same for another traveller?
          Registering with FriendMe not only allows you to see who's available to host you, but also gives you the opportunity to be a host.
          <hr>
        </p>
        <p>
          Head to the destinations page to see if there are available hosts for where you would love to travel. 
          Get in touch with them and FriendMe wherever you go.
        </p>
      </div>
  </div>

  <div class="section">
    <div class="text-center" id = "aboutus">
      <h1>About us</h1>
        <p>
          FRIENDME is an app designed by students of 
          General Assembly - San Francisco (Lena, Luca, Caleb and Ivan) and for people 
          who love to travel around the world and meet new people. In 
          order to move away from the traditional practice of touring and sightseeing,
          FriendMe offers the chance to experience the culture and the city through the locals that know it the best.
 
          We are looking for people who share common interests and an adventurous spirit to connect with on journeys across the world.
        </p>
      </div>
    </div>

  <div class="section">
    <div id="accordion" class = "text-center faqs">
      <h1>FAQS</h1>

      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Q. How do I check destinations ?</a>
          </h3>
        </div>
      
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            Once you’re registered member you can see available destinations and all of the hosts available for those destinations.
          </div>
        </div>
      </div>
      
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Q. Once I’ve begun my trip, who should I contact for help?</a>
          </h3>
        </div>
            
        <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
              Once you’ve begun your trip you can contact our live-help service which is link between you and the host. 
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Q. How do I get in touch with the host ?</a>
          </h3> 
        </div>

        <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
            Once you pick destination you will see available hosts for that location. On host profile page there is email address included.
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Q. Is this free service ?</a>
          </h3>
        </div>
        
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Yes, this is completely free of charge service. You can pay/tip host at your own discretion.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Q. Where can I find/leave reviews about the host experience ?</a>
          </h3>
        </div>
        
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            Reviews about the hosts and experience can be found on websites such as Yelp, TripAdvisor under FriendMe page.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Q. Are there any age restrictions for traveling and using FriendMe service ?</a>
          </h3>
        </div>

        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">
              Yes, you must be age 18 or older to use FriendMe website. 
          </div>
        </div>

      </div>
      <footer class="text-center">
          <div class="footer-above">
              <div class="container">
                  <div class="row">
                      <div class="footer-col col-md-4">
                          <h3>Location</h3>
                          <p>5, 225 Bush St.<br>San Francisco, CA 94104</p>
                      </div>
                      <div class="footer-col col-md-4">
                          <h2>FRIENDME</h2>
                          <ul class="list-inline">
                                <!-- some social networks -->
                          </ul>
                      </div>
                      <div class="footer-col col-md-4">
                          <h3>Feedback Section</h3>
                          <p>Please leave feedback on <a href="http://yelp.com">Yelp</a></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-below">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          Copyright &copy; Author <?php echo date("Y"); ?>
                      </div>
                  </div>
              </div>
          </div>
     </footer>
    </div>

  </div> 


</div>


  

<!-- begin userModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="triggerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sign up</h4>
      </div>
      
      <div class="modal-body">
        <fieldset class='form-horizontal'>
  
        {{!-- form begins --}}
          <form id="newUser" onsubmit="user.createUser(event)">
          <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">First Name</label>
              
              <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="lastName">Last Name</label>
              <div class="col-md-4">
              <input id="lastName" name="lastName" type="text"placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="passwordDigest">Password</label>
              <div class="col-md-4">
              <input id="passwordDigest" name="passwordDigest" type="password" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Confirmation password</label>
              <div class="col-md-4">
              <input id="signupPassword" name="password" type="password"placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-4">
              <input id="email" name="email" type="email" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="photoUrl">Photo</label>
              <div class="col-md-4">
              <input type="hidden" name="photoUrl" role="uploadcare-uploader" data-image-shrink="240x380" />
             <!--  <input id="photoUrl" name="photoUrl" type="file" placeholder="" class="btn btn-default btn-file" required="">
              </div> -->
            </div>

            <div id="center" class="modal-footer">
              <input type="submit" value="Sign Up" id="sign_up_button" class="btn btn-primary">
              <!-- <button type="button" class="btn btn-primary" id="saveUser">Save User</button> -->
            </div>
          </form>
          {{!-- form ends --}}

        </fieldset>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<!-- Button trigger modal -->