<div class="jumbotron text-center scroll">
  <h1>Meet new people!</h1>
  <p>Travel with locals</p>
  <!-- Button trigger modal -->
<button id="modalButton" type="button" class="btn btn-lg sign_up_button" data-toggle="modal" data-target="#triggerModal">
  Sign up
</button>
</div>


<div class="welcome_content_div">
  <h2 class="content_h2">HOW IT WORKS</h2>
  <p class="content_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>




<!-- 

<h2>HOW IT WORKS</h2>
 -->








<!-- begin userModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="triggerModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign up</h4>
          </div>
          <div class="modal-body">
          <fieldset class='form-horizontal'>

            <form id="newUser" onsubmit="user.createUser(event)">

            <div class="form-group">
              <label class="col-md-4 control-label" for="email"></label>
              <div class="col-md-4">
              <a href="/auth/facebook" type="button" class="btn btn-primary">Login with Facebook</a>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">First Name</label>
              <div class="col-md-4">
              <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="lastName">Last Name</label>
                <div class="col-md-4">
                <input id="lastName" name="lastName" type="text"placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="passwordDigest">Password</label>
                <div class="col-md-4">
                <input id="passwordDigest" name="passwordDigest" type="password" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="password">Confirmation password</label>
                <div class="col-md-4">
                <input id="password" name="password" type="password"placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="" class="form-control input-md">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="photoUrl">Photo</label>
                <div class="col-md-4">
                <input type="hidden" name="photoUrl" role="uploadcare-uploader" data-image-shrink="240x380" />
               <!--  <input id="photoUrl" name="photoUrl" type="file" placeholder="" class="btn btn-default btn-file" required="">
                </div> -->
              </div>

              <div id="center" class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" action="/">Close</button>
                <input type="submit" value="Sign Up" id="sign_up_button" class="btn btn-primary">
                <!-- <button type="button" class="btn btn-primary" id="saveUser">Save User</button> -->
              </div>
            </form>

          </fieldset>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->